.survey-main-box-flex{
    min-width: 800px;
    display: flex;
    margin-bottom: 64px;
    padding: 0 48px;
}

.survey-main-box{
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--green-95);
    border: 1px solid var(--green-90);
    border-radius: 12px;
    margin-right: 20px;
    width: 33%;
}

.survey-main-box:last-child{
    margin-right: 0;
}

.survey-main-box__item img{
    margin-bottom: 8px;
}

.survey-main-box__item h3{
    color: var(--gs-15);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: -0.96px;
    margin-bottom: 8px;
}

.survey-main-box__item h4{
    color: var(--gs-30);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    margin-bottom: 16px;
}

.contanier-p{
    height: 80px;
    margin-bottom: 2em;
}

.contanier-p p{
    color: var(--gs-20, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
}

.survey-main-box button {
    display: block;
    width: 100%;
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px solid var(--green-90);
    background: var(--green-70);
    color: var(--dpri-15);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
  }

  .survey-main-box a {
    text-decoration: none;
  }

  .survey-main-box button:hover {
    background: var(--dpri-15);
    color: var(--green-70);
  }