.temporary-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--dpri-15);
    padding:  20px 0; /* 헤더 로고 이미지 상하 패딩 값*/
    z-index: 100;
  }

.temporary-header__container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .temporary-header__container-logo img {
    max-width: 188px;
    height: 42px;
  }

  
/*메인 로고 이미지*/
  .temporary-main {
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .temporary-main__container-logo {
    margin-top: 64px;
  }

  @media (max-width: 660px) {
    .temporary-main__container-logo {
        margin-top: 28px;
      }
      
  }


  .temporary-main__container-logo img {
    max-width: 290px;
    height: 64px;
  }

  @media (max-width: 660px) {
    .temporary-main__container-logo img {
        max-width: 202px;
        height: 46px;
      }
  }

  /*메인 텍스트*/

.temporary-main__container-text{
    margin-top: 36px;
    text-align: center;
}

@media (max-width: 660px) {
    .temporary-main__container-text {
        margin-top :32px;
      }
  }

.temporary-main__container-text h2 {
    margin-bottom: 24px;
    color: var(--gs-20);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 100% */
}

@media (max-width: 660px) {
    .temporary-main__container-text h2 {
        margin-bottom: 8px;
        color: var(--gs-20);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16x; /* 100% */
    }
  }

.temporary-main__container-text h1{
    margin-bottom: 24px;
    color: var(--gs-15);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 100% */
    letter-spacing: -1.92px;
}

@media (max-width: 660px) {
    .temporary-main__container-text h1{
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 28px; /* 100% */
        letter-spacing: -0.96px;
    }
  }

.temporary-main__container-text p{
    color: var(--gs-20);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 30px */
    margin-bottom: 36px;
}

@media (max-width: 660px) {
    .temporary-main__container-text p{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 32px;
    }
  }

  /*병원안내*/

.temporary-main-box{
    width: 475px;
    background-color: var(--green-95);
    padding: 32px 50px;
    border: 1px solid var(--green-90);
    border-radius: 12px;
    margin-bottom: 16px;
}

@media (max-width: 660px) {
    .temporary-main-box{
        width: 295px;
        padding: 28px 16px;
        margin-bottom: 16px;
    }
  }

.temporary-main-box h3{
    color: var(--dpri-15);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 16px;
}

@media (max-width: 660px) {
    .temporary-main-box h3{
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 12px;
    }
    
  }


.temporary-main-box__item {
    display: flex;
    align-items: center;
    color: var(--dpri-15);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

@media (max-width: 660px) {
    .temporary-main-box__item {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
  }

.temporary-main-box__item img {
    margin-right: 4px;
}

@media (max-width: 660px) {
    .temporary-main-box__item img {
        margin-right: 8px;
    }
  }

.temporary-main-box__item:first-of-type {
    margin-bottom: 12px;
  }

  @media (max-width: 660px) {
    .temporary-main-box__item:first-of-type {
        margin-bottom: 8px;
      }
  }

  .temporary-main-box__item:nth-of-type(2) {
    margin-bottom: 20px;
  }

  @media (max-width: 660px) {
    .temporary-main-box__item:nth-of-type(2) {
        margin-bottom: 20px;
      }
  }

  .temporary-main-box button {
    display: block;
    width: 100%;
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px solid var(--green-90);
    background: var(--green-70);
    color: var(--dpri-15);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
  }


  @media (max-width: 660px) {
    .temporary-main-box button {
        font-size: 16px;
        cursor: pointer;
      }
  }


  .temporary-main-box a {
    text-decoration: none;
  }

  .temporary-main-box button:hover {
    background: var(--dpri-15);
    color: var(--green-70);
  }

  @media (max-width: 660px) {
  .temporary-main-box button:hover {
    background: var(--green-70);
    color: var(--dpri-15);
     }
  }

  .temporary-main-box button:disabled {
    background: var(--green-70);
    color: var(--dpri-15);
    opacity: 0.4;
    cursor: not-allowed; /* 커서 모양 변경 (기본적으로 not-allowed) */
  }