/*메인 로고 이미지*/
.main-text {
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-text__container-logo {
    margin-top: 64px;
  }

  @media (max-width: 660px) {
    .main-text__container-logo {
        margin-top: 28px;
      }
      
  }


  .main-text__container-logo img {
    max-width: 290px;
    height: 64px;
  }

  @media (max-width: 660px) {
    .main-text__container-logo img {
        max-width: 202px;
        height: 46px;
      }
  }

  /*텍스트 css 시작*/

.main-text__container-text{
    margin-top: 36px;   /*헤더 영역 만큼 마진 내려줌*/
    text-align: center;
}

@media (max-width: 660px) {
    .main-text__container-text {
        margin-top :32px;
      }
  }

   /*소제목 텍스트*/

.main-text__container-text h2 {
    margin-bottom: 24px;
    color: var(--gs-20);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 100% */
}

@media (max-width: 660px) {
    .main-text__container-text h2 {
        margin-bottom: 8px;
        color: var(--gs-20);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16x; /* 100% */
    }
  }

.main-text__container-text h1{
    margin-bottom: 24px;
    color: var(--gs-15);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 100% */
    letter-spacing: -1.92px;
}

@media (max-width: 660px) {
    .main-text__container-text h1{
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 28px; /* 100% */
        letter-spacing: -0.96px;
    }
  }

.main-text__container-text p{
    color: var(--gs-20);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 30px */
    margin-bottom: 36px;
}

@media (max-width: 660px) {
    .main-text__container-text p{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 32px;
    }
  }