
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/header-only-logo.css";
@import "components/main-notice.css";

/* Screens */
@import "screens/temporary.css";
@import "screens/survry.css";
@import "screens/text.css";
@import "screens/text-result.css";

body{
    font-family: 'SUIT', sans-serif;
    background: var(--pri-97);
}

/* .main-screens {
    padding: 0px var(--horizintal-space);
} */