:root {
    --pri-97 : #FAFDF2;
    --gs-20 : #333;
    --gs-15 :#262626;
    --green-95 : #F6FBE9;
    --green-90 : #EEF8D3;
    --dpri-15: #1A3129;
    --green-70: #CBEA7B;
    --gs-90: #E6E6E6;
    --gs-60: #98989A;
    --dpri-90: #DDEDE8;
    --dpri-60: #79B9A4;
    --gs-30: #4C4C4D;
  }

